*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fba4cb;
}
.educ h1{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.educ h1:hover{
    color: black;
}
.educ p{
    font-style: sans-serif;
    font-size: 12px;
    color: white;
    width: 350px;
    text-align: center;
    transform: translateX(80vh);
}
.educ h4{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 15px;
    font-size: 13px;
}
.educ ol{
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    transform: translateX(80vh);
    font-weight: bold;
    line-height: 30px;
}
img{
   width: 140px;
   height: 180px;
   display: block;
   margin: 0 auto;
   margin-bottom: 2%;
}
.quote h2{
    color:white;
    text-align: center;
    font-weight: lighter;
    width: 250px;
    font-size: 30px;
    transform: translateX(85vh);
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif
}
.para1 p{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 1px;
    
}
.para2 p{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.para3 p{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

